<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <ul v-if="isShow">
        <li v-for="user in users">
          {{user.id}} : {{user.username}} | {{user.password}}
        </li>
      </ul>
      <button @click="showHandler" v-if="isShow">Hide Users</button>
      <button @click="showHandler" v-if="!isShow">Show Users</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
